@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primario: #87a2c8;
    --secundario: #414854;
    --terciario: #f74b94;
    --cuaternario: #ebeefc;
    --quinto: #fcc7de;
    --blanco: #fff;
}

/* GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", serif;
    color: var(--cuaternario);
}

/* LAYOUT */
.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* --------- menu ----------- */ 
.menu_dashboard {
    max-width: 75px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--secundario);
    padding: 10px;
    transition: max-width .3s ease;
    z-index: 10;
}

.top_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_menu  .toggle {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.top_menu  .toggle i {
    font-size: 25px;
    color: var(--primario);
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    font-size: 15px;
    margin-left: 20px;
    display: none;
    font-weight: bold;
}

/* INPUT BOX */
.input_search {
    width: 100%;
    margin: 25px 0;
    background-color: #666c75;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.input_search i {
    font-size: 25px;
    margin-right: 25px;
    color: var(--primario);
}

.input_search .input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 30px;
    color: var(--white);
    font-size: 15px;
    display: none;
}

.input_search .input::placeholder {
    color: #ffffff83;
}

/* ENLACES MENU */
.menu .enlace {
    width: 100%;
    height: 70px;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s ease;
}

.menu .enlace i {
    font-size: 20px;
    margin-top: 20px;
    color: var(--primario);
    display: flex;
    text-align: center;
    align-items: center;
}

.menu .enlace span {
    opacity: 0;
    transition: opacity .3s ease;
    margin-left: 50px;
}

.menu_dashboard.open .menu .enlace {
    padding: 5px;
    width: auto;
}

.menu_dashboard.open .menu .enlace i {
    margin-bottom: 5px;
    padding: 0.5rem;
}

.menu_dashboard.open .menu .enlace span {
    opacity: 1;
    position: relative;
    top: -30px;
    font-size: 15px;
}

.menu_dashboard.open {
    max-width: 215px;
}

.menu_dashboard.open .top_menu .logo span {
    display: block;
}

.menu_dashboard.open .input_search .input {
    display: block;
}

.menu .enlace:hover {
    background: #666c75;
}

.link_menu {
    text-decoration: none;
    color: inherit;
    background: transparent;
}

a {
    text-decoration: none;
    border: none;
}
/* ------fin menu ------------ */

/* ---------- PANEL --------------*/
.panel {
    margin-left: 70px;
    width: calc(100% - 70px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    z-index: 1;
}

/* ----------- encabezado de panel y panel-derecho ----------- */
.encabezado {
    width: 77%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    z-index: 1000;
}

/* contenedor con datos del socio y saludo */
.contenedor-datos-socio {
    background-color: var(--cuaternario);
    width: 100%;
    height: 70px;
    margin-top: 15px;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.datos-socio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}

.dato span {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primario);
}

.datos-ticket {
    display: flex;
    flex-direction: row;
    text-align: start;
    gap: 3.5rem;
    margin-bottom: -25px;
}

.datos-ticket span {
    font-weight: 300;
    font-size: 13px;
    color: var(--secundario);
}

.dato p {
    color: var(--secundario);
}

.contenedor-datos-socio img {
    width: 125px;
    height: 125px;
    margin-top: 15px;
    margin-left: auto;
    padding-right: 1rem;
}
/* ---------- fin de encabezado ------- */

/* ---------- tickets ----------- */
.tickets {
    width: 70%;
    height: 40px;
    margin-top: 15px;
    margin-left: 0;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

.mes-actual {
    padding: 0.3rem;
}

.mes-actual span,
.promedio span,
.valor span {
    font-size: 14px;
}

.promedio input,
.valor input {
    width: 175px;
    height: 30px;
    box-shadow: 2px 2px 5px var(--quinto);
    border: none;
    outline: none;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 15px;
    font-family: "Montserrat", serif;
}
/* ---------- fin tickets ------------ */

/* -------------- contenedor de datos ---------------- */
.contenedor-datos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 77%;
    padding: 10px;
}

/*simulador de ventas y objetivos*/
.simulador, .objetivos {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 10px;
    gap: 12px;
}

.simulador-ventas, 
.ganancias-ventas {
    width: 100%;
    height: 175px;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid var(--quinto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.ganancias-ventas {
    height: 125px;
}

.titulo-simulador, .titulo-objetivos {
    font-size: 1rem;
    color: var(--terciario);
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    display: block;
    width: 100%;
}

.titulo-objetivos {
    margin-top: -15px;
}

.comision, .ticket, .precio, 
.ingresos, .a-vender, .a-sumar,
.total-mes {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 15px;
}

.comision span, .ticket span, .precio span,
.ingresos span, .a-vender span, .a-sumar span,
.total-mes span {
    font-size: 13px;
    font-weight: bold;
    align-items: center;
    color: var(--secundario);
}

.comision select,
.ticket select,
.ingresos input {
    color: var(--secundario);
    background-color: var(--blanco);
    border: 1px solid var(--quinto);
    border-radius: 8px;
    outline: none;
    font-family: "Montserrat", serif;
    margin-left: 15px;
    padding: 6px;
}

.precio p {
    font-size: 14px;
    color: var(--secundario);
    padding-left: 25px;
}

/* graficos */
.grafico {
    width: 100%;
    height: 200px;
    padding: 1rem;
    box-shadow: 2px 2px 5px var(--primario);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ganancias-ventas span {
    color: var(--secundario);
    font-size: 15px;
}

.ingresos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 90px
}

.ingresos input {
    text-align: center;
    padding: 10px;
}

.ingresos span {
    color: var(--secundario);
    font-size: 15px;
}

.grafico-objetivos {
    width: 100%;
    height: 250px;
    padding: 1rem;
    box-shadow: 2px 2px 5px var(--primario);
    border-radius: 1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.capacitacion {
    width: 100%;
    height: 25px;
    margin-bottom: -10px;
    background-color: var(--cuaternario);
}

.titulo {
    display: flex;
    justify-content: space-between;
}

.titulo .info,
.titulo .horas {
    font-size: 12px;
    padding: 5px;
    color: var(--secundario);
}


/* ------------ PANEL DERECHO ------------- */
.panel-derecho {
    width: 300px;
    height: 100vh;
    background-color: var(--blanco);
    box-shadow: 2px 2px 5px var(--primario);
    padding: 20px;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s ease;
    z-index: 999;
}

.panel-derecho.visible {
    transform: translateX(0);
}

.panel-derecho.hidden {
    transform: translateX(100%);
}

.toggle-panel-derecho {
    display: none;
}

/*foto de perfil y ajustes */
.encabezado-datos-socio {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    margin-top: -10px;
    margin-left: 195px;
}

.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 10px;
}

.icon-ajustes {
    font-size: 20px;
    cursor: pointer;
    color: var(--primario);
}

/* ganancia neta hoy */
.ganancia-hoy {
    margin-top: 0;
    height: 90px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.ganancia-hoy h4 {
    color: var(--primario);
    margin-bottom: 5px;
}

.ganancia {
    color: var(--primario);
    background-color: var(--cuaternario);
    box-shadow: 2px 2px 5px var(--primario);
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    gap: 50px;
}

.ganancia .icon-paid {
    position: absolute;
    left: 0;
    top: 62%;
    transform: translateY(-50%);
    color: var(--secundario);
    font-size: 25px;
    margin-left: 65px;
}

.ganancia p {
    color: var(--terciario);
}
/* fin de ganancia neta hoy */

/* metas de ventas */
.meta-ventas {
    height: 120px;
    text-align: center;
}

.meta-ventas h4 {
    color: var(--primario);
}

.metas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 8px;
    margin-top: 5px;
}

.meta-vender {
    grid-column: 1;
    grid-row: 1;
}

.meta-suamra {
    grid-column: 2;
    grid-row: 1;
}

.meta-total-ventas {
    grid-column: 1 / span 2;
    grid-row: 2;
    width: 50%;
    margin: 0 auto;
}

.meta-vender, 
.meta-sumara,
.meta-total-ventas {
    background-color: var(--cuaternario);
    box-shadow: 2px 2px 5px var(--primario);
    width: 110px;
    height: 48px;
    border-radius: 8px; 
}

.meta-vender span, 
.meta-sumara span,
.meta-total-ventas span {
    color: var(--secundario);
    font-size: 11px;
}

.metas p {
    color: var(--terciario);
}

.vender, 
.sumara,
.total {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.resultado {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.resultado p {
    margin: 0;
    line-height: 1;
    font-size: 14px;
}
/* fin metas por ventas mensual */

/* plan de accion */ 
.plan-accion-hoy {
    height: 100px;
    margin-top: 18px;
    text-align: center;
}

.plan-accion-hoy h4 {
    color: var(--primario);
}

.datos-prospectar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
}

.datos-prospectar span {
    color: var(--secundario);
    font-size: 12px;
}

.datos-prospectar p {
    padding: 10px;
    color: var(--terciario);
    font-size: 12px;
}

.datos-titulo h5 {
    text-align: center;
    color: var(--secundario);
    font-size: 12px;
    margin-top: -8px;
}

.datos {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    gap: 40px;
}

.datos-mes, 
.datos-semana {
    background-color: var(--cuaternario);
    box-shadow: 2px 2px 5px var(--primario);
    width: 100px;
    height: 50px;
    border-radius: 8px;
}

.datos span {
    font-size: 11px;
    color: var(--secundario);
}

.datos p {
    color: var(--terciario);
}
/* fin plan de accion hoy*/

/*calendario*/
.calendario_contenedor {
    margin-top: 25px;
    overflow: hidden;
    width: 100%;
    height: 205px;
    border-radius: 8px;
}

.calendario {
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 5px var(--secundario);
    border-radius: 8px;
    background-color: var(--cuaternario);
    padding: 5px;
    overflow-y: auto;
}

.calendario_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendario_btn {
    padding: 5px 10px;
    background-color: var(--cuaternario);
    color: var(--secundario);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-size: 0.7rem;
}

.calendario_btn:hover {
    background: var(--terciario);
    color: var(--cuaternario);
    border: 1px solid var(--text-light);
}

.month_year {
    font-size: 0.6rem;
    font-weight: bold;
    color: var(--secundario);
}

.days_of_week {
    font-size: 0.5rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    margin-bottom: 1px;
    color: var(--secundario);
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 0.6rem;
    color: var(--secundario);
}

.day {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.day:hover {
    background-color: var(--quinto);
}

.day.selected {
    background-color: var(--terciario);
    color: white;
}
/*fin calendario*/

/* MEDIA QUERYS */
/* @media (min-width: 768px) {
    .toggle-panel {
        display: none;
    }
} */

@media (max-width: 768px) {
    .container {
        width: 100%;
        flex-direction: column;
    }
    /* ------- menu --------- */
    .menu_dashboard {
        max-width: 50px;
        height: 100vh;
        background-color: transparent;
        color: var(--primario);
        transition: max-width .3s ease;
    }
    .top_menu {
        display: block;
    }

    .input_search, .menu {
        display: none;
    }

    .menu .enlace {
        display: none;
    }

    /* Cuando el menú está abierto */
    .menu_dashboard.open {
        max-width: 60px;
        max-height: 100vh;
        background-color: var(--secundario);
    }

    .menu_dashboard.open .top_menu .logo {
        display: none;
    }

    .menu_dashboard.open .input_search {
        display: flex;
        align-items: center;
    }

    .menu_dashboard.open .input_search i {
        font-size: 18px;

    }

    .menu_dashboard.open .menu {
        display: block;
    }

    .menu_dashboard.open .menu .enlace {
        display: block;
        width: 100%;
        padding: 5px;
    }
    .menu_dashboard.open .menu .enlace i {
        margin-bottom: 25px;
        padding: 0.2rem;
    }

    .menu_dashboard.open .menu .enlace span {
        display: none;
    }

    .menu .enlace:hover {
        background: #666c75;
    }

    .link_menu {
        text-decoration: none;
        color: inherit;
        background: transparent;
    }

    .menu .enlace .link_menu i {
        font-size: 25px;
    }
    /*panel*/
    .panel {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        width: 100%;
    }

    /*encabezado */
    .encabezado {
        flex-direction: column-reverse;
        width: 100%;
        height: 120px;
        padding: 2px;
        z-index: 10;
    }

    .contenedor-datos-socio {
        width: 90%;
        height: 70px;
        margin-bottom: 2px;
    }

    .contenedor-datos-socio img {
        width: 80px;
        height: 80px;
        padding: 1px;
    }

    .dato span {
        font-size: 10px;
    }

    .dato p {
        font-size: 9px;
    }

    .encabezado-datos-socio {
        width: 25%;
        display: flex;
        margin-top: 5px;
        margin-left: 200px;
    }

    /* tickets */
    .tickets {
        width: 100%;
        height: 125px;
        margin-top: -20px;
        margin-left: -30px;
    }

    .datos-ticket {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .mes-actual, 
    .promedio, 
    .valor {
        padding-left: 0.2rem;
    }

    .mes-actual span,
    .promedio span,
    .valor span {
        font-size: 10px;
    }

    .promedio input, 
    .valor input {
        width: 85px;
        height: 25px;
        font-size: 7px;
        padding-left: 5px;
        margin-left: 5px;
        justify-content: center;
    }

    /*contenedor de datos*/
    .contenedor-datos {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .simulador {
        width: 100%;
        height: 120px;
        margin-left: -10px;
        padding-left: 20px;
    }

    .simulador-ventas, .ganancias-ventas {
        padding: 0.2rem;
        width: 100%;
    }

    .titulo-simulador {
        font-size: 0.7rem;
    }

    .comision, .ticket, .precio {
        margin-bottom: 8px;
        margin-left: 10px;
    }

    .comision span, .ticket span,
    .precio span {
        font-size: 10px;
    }

    .comision select,
    .ticket select,
    .ingresos input {
        padding: 2px;
        font-size: 9px;
    }

    .precio p {
        font-size: 9px;
    }

    .grafico {
        width: 100%;
        height: 150px;
        box-shadow: 2px 2px 5px var(--primario);
    }

    #comisionesChart {
        height: 150px;
    }

    .objetivos {
        width: 100%;
        height: 310px;
        margin-top: 165px;
        margin-left: -10px;
        padding-left: 20px;
    }

    .ganancias-ventas {
        height: 90px;
    }

    .titulo-objetivos {
        font-size: 0.8rem;
        margin-top: -5px;
    }

    .ingresos {
        margin: 0 30px;
        gap: 5px;
    }

    .ingresos span {
        font-size: 10px;
    }

    .ingresos input {
        padding: 2px;
    }

    .grafico-objetivos {
        width: 100%;
        height: auto;
    }

    /*panel derecho */
    .panel-derecho {
        background-color: var(--primario);
        display: none;
        right: -300px;
        width: 100%; 
    }

    .panel-derecho.visible.panel-derecho.visible {
        display: block;
        transform: translateX(0);
        width: 100%;
        right: 1px;
    }

    .panel-derecho.visible .ganancia-hoy {
        height: 140px;
    }

    .panel-derecho.visible .ganancia-hoy h4,
    .panel-derecho.visible .meta-ventas h4,
    .panel-derecho.visible .plan-accion-hoy h4 {
        font-size: 20px;
        color: var(--secundario);
    }

    .panel-derecho.visible .ganancia {
        width: 200px;
        height: 60px;
    }

    .panel-derecho.visible .ganancia .icon-paid {
        margin-left: 70px;
        padding: 0.3rem;
        margin-top: -2px;
        font-size: 35px;
    }

    .panel-derecho.visible .ganancia p {
        color: var(--terciario);
        font-size: 20px;
    }
    
    .panel-derecho.visible .meta-ventas {
        margin-top: 5px;
        height: 170px;
    }

    .panel-derecho.visible .metas {
        display: grid;                   /* Usamos Grid */
        place-items: center;
        gap: 15px;
    }

    .panel-derecho.visible  .meta-vender, 
    .panel-derecho.visible  .meta-sumara,
    .panel-derecho.visible  .meta-total-ventas {
        width: 120px;
        height: 60px;
    }

    .panel-derecho.visible  .meta-vender span, 
    .panel-derecho.visible  .meta-sumara span,
    .panel-derecho.visible  .meta-total-ventas span {
        font-size: 12px;
    }

    .panel-derecho.visible .resultado p {
        font-size: 16px;
    }

    .panel-derecho.visible .datos-prospectar span {
        color: var(--cuaternario);
        font-size: 14px;
    }

    .panel-derecho.visible .datos-prospectar p {
        font-size: 14px;
    }

    .panel-derecho.visible  .datos-titulo h5 {
        color: var(--cuaternario);
        font-size: 14px;
    }

    .panel-derecho.visible  .datos-mes, 
    .panel-derecho.visible  .datos-semana {
        width: 150px;
        height: 60px;
    }

    .panel-derecho.visible  .datos span  {
        font-size: 13px;
    }

    .panel-derecho.visible  .calendario_contenedor {
        margin-top: 50px;
    }

    .panel-derecho.visible  .calendario_btn {
        font-size: 0.8rem;
    }

    .panel-derecho.visible  .month_year {
        font-size: 0.7rem;
    }

    .panel-derecho.visible  .days_of_week {
        font-size: 0.6rem; 
    }

    .panel-derecho.visible  .days {
        font-size: 0.7rem;
    }

    .toggle-panel-derecho {
        display: block;
        position: fixed;
        top: 350px;
        right: 5px;
        font-size: 25px;
        cursor: pointer;
        z-index: 1000;
    }

    .toggle-panel-derecho i {
        color: var(--secundario);
    }


    /* capacitacion*/
    .capacitacion {
        display: none;
    }

}

@media (min-width: 768px) {
    .toggle-panel {
        display: none; /* El botón no se mostrará en pantallas grandes */
    }

    .panel-derecho {
        right: 0; /* El panel derecho siempre visible en escritorio */
    }
}
